<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-5">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">GETBUY</h5>
        <p class="font-weight-bold"><i class="fas fa-map-marked-alt"></i>&nbsp; Tapei, Taiwan</p>
        <p class="font-weight-bold"><i class="fas fa-phone-square"></i>&nbsp; +886(02)234567890</p>
        <p></p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="font-weight-bold text-decoration-none text-dark">Our Team</a>
          </li>
          <li>
            <a href="#!" class="font-weight-bold text-decoration-none text-dark">Customers</a>
          </li>
          <li>
            <a href="#!" class="font-weight-bold text-decoration-none text-dark">Partnership</a>
          </li>
          <li>
            <a href="#!" class="font-weight-bold text-decoration-none text-dark">Privacy Policy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="font-weight-bold text-decoration-none text-dark">Contacts</a>
          </li>
          <li>
            <a href="#!" class="font-weight-bold text-decoration-none text-dark">Price</a>
          </li>
          <li>
            <a href="#!" class="font-weight-bold text-decoration-none text-dark">F&Q</a>
          </li>
        </ul>

      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> getbuy.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->