<ul class="nav justify-content-center p-2 mb-2">
  <li class="nav-item">
    <a class="nav-link text-muted text-decoration-none" href="#">Pictures</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted text-decoration-none" href="#">Music</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted text-decoration-none" href="#">Vedio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted text-decoration-none" href="#">Documents</a>
  </li>
</ul>