<%= render "shared/frontend/carousel" %>
<h1 class="text-center">Hola</h1>
<h2 data-controller="hello">test
<%= link_to "#", class: "text-dark text-decoration-none", data: { action: "hello#addHello" } do %>
  <i class="fab fa-500px" data-target="hello.sayHi"></i>
<% end %>
</h2>

<%= render 'shared/frontend/subscribe' %>