<div class="row">
  <div class="col-8">
    <%= form.text_field :spec, placeholder: "Spec", class: "form-control" %>
  </div>
  <div class="col-3">
    <%= form.number_field :quantity, placeholder: "Quantity", class: "form-control" %>
  </div>
  <div class="col-1">
    x
  </div>
</div>

